<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinoway.cisp.dao.InstiDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sinoway.cisp.entitys.InstiDetail" >
    <id column="insti_code" property="instiCode" jdbcType="VARCHAR" />
    <result column="insti_type" property="instiType" jdbcType="CHAR" />
    <result column="insti_shortname" property="instiShortname" jdbcType="VARCHAR" />
    <result column="insti_name" property="instiName" jdbcType="VARCHAR" />
    <result column="credit_person" property="creditPerson" jdbcType="VARCHAR" />
    <result column="law_person" property="lawPerson" jdbcType="VARCHAR" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="registered_address" property="registeredAddress" jdbcType="VARCHAR" />
    <result column="general_manager" property="generalManager" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="INTEGER" />
    <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="insti_address" property="instiAddress" jdbcType="VARCHAR" />
    <result column="fax_number" property="faxNumber" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="access_ip" property="accessIp" jdbcType="VARCHAR" />
    <result column="freeze_status" property="freezeStatus" jdbcType="CHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="sinotime" property="sinotime" jdbcType="TIMESTAMP" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    insti_code, insti_type, insti_shortname, insti_name, credit_person, law_person, credit_code, 
    registered_address, general_manager, zip_code, registered_capital, web_url, insti_address, 
    fax_number, phone, access_ip, freeze_status, creat_time, sinotime, contract_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinoway.cisp.entitys.InstiDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from insti_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from insti_detail
    where insti_code = #{instiCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from insti_detail
    where insti_code = #{instiCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinoway.cisp.entitys.InstiDetailExample" >
    delete from insti_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinoway.cisp.entitys.InstiDetail" >
    insert into insti_detail (insti_code, insti_type, insti_shortname, 
      insti_name, credit_person, law_person, 
      credit_code, registered_address, general_manager, 
      zip_code, registered_capital, web_url, 
      insti_address, fax_number, phone, 
      access_ip, freeze_status, creat_time, 
      sinotime, contract_code)
    values (#{instiCode,jdbcType=VARCHAR}, #{instiType,jdbcType=CHAR}, #{instiShortname,jdbcType=VARCHAR}, 
      #{instiName,jdbcType=VARCHAR}, #{creditPerson,jdbcType=VARCHAR}, #{lawPerson,jdbcType=VARCHAR}, 
      #{creditCode,jdbcType=VARCHAR}, #{registeredAddress,jdbcType=VARCHAR}, #{generalManager,jdbcType=VARCHAR}, 
      #{zipCode,jdbcType=INTEGER}, #{registeredCapital,jdbcType=VARCHAR}, #{webUrl,jdbcType=VARCHAR}, 
      #{instiAddress,jdbcType=VARCHAR}, #{faxNumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{accessIp,jdbcType=VARCHAR}, #{freezeStatus,jdbcType=CHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{sinotime,jdbcType=TIMESTAMP}, #{contractCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoway.cisp.entitys.InstiDetail" >
    insert into insti_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instiCode != null" >
        insti_code,
      </if>
      <if test="instiType != null" >
        insti_type,
      </if>
      <if test="instiShortname != null" >
        insti_shortname,
      </if>
      <if test="instiName != null" >
        insti_name,
      </if>
      <if test="creditPerson != null" >
        credit_person,
      </if>
      <if test="lawPerson != null" >
        law_person,
      </if>
      <if test="creditCode != null" >
        credit_code,
      </if>
      <if test="registeredAddress != null" >
        registered_address,
      </if>
      <if test="generalManager != null" >
        general_manager,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="registeredCapital != null" >
        registered_capital,
      </if>
      <if test="webUrl != null" >
        web_url,
      </if>
      <if test="instiAddress != null" >
        insti_address,
      </if>
      <if test="faxNumber != null" >
        fax_number,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="accessIp != null" >
        access_ip,
      </if>
      <if test="freezeStatus != null" >
        freeze_status,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="sinotime != null" >
        sinotime,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instiCode != null" >
        #{instiCode,jdbcType=VARCHAR},
      </if>
      <if test="instiType != null" >
        #{instiType,jdbcType=CHAR},
      </if>
      <if test="instiShortname != null" >
        #{instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="instiName != null" >
        #{instiName,jdbcType=VARCHAR},
      </if>
      <if test="creditPerson != null" >
        #{creditPerson,jdbcType=VARCHAR},
      </if>
      <if test="lawPerson != null" >
        #{lawPerson,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null" >
        #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="generalManager != null" >
        #{generalManager,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=INTEGER},
      </if>
      <if test="registeredCapital != null" >
        #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null" >
        #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="instiAddress != null" >
        #{instiAddress,jdbcType=VARCHAR},
      </if>
      <if test="faxNumber != null" >
        #{faxNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="accessIp != null" >
        #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="freezeStatus != null" >
        #{freezeStatus,jdbcType=CHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sinotime != null" >
        #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinoway.cisp.entitys.InstiDetailExample" resultType="java.lang.Integer" >
    select count(*) from insti_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update insti_detail
    <set >
      <if test="record.instiCode != null" >
        insti_code = #{record.instiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.instiType != null" >
        insti_type = #{record.instiType,jdbcType=CHAR},
      </if>
      <if test="record.instiShortname != null" >
        insti_shortname = #{record.instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="record.instiName != null" >
        insti_name = #{record.instiName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditPerson != null" >
        credit_person = #{record.creditPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.lawPerson != null" >
        law_person = #{record.lawPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.creditCode != null" >
        credit_code = #{record.creditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredAddress != null" >
        registered_address = #{record.registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.generalManager != null" >
        general_manager = #{record.generalManager,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null" >
        zip_code = #{record.zipCode,jdbcType=INTEGER},
      </if>
      <if test="record.registeredCapital != null" >
        registered_capital = #{record.registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="record.webUrl != null" >
        web_url = #{record.webUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.instiAddress != null" >
        insti_address = #{record.instiAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.faxNumber != null" >
        fax_number = #{record.faxNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.accessIp != null" >
        access_ip = #{record.accessIp,jdbcType=VARCHAR},
      </if>
      <if test="record.freezeStatus != null" >
        freeze_status = #{record.freezeStatus,jdbcType=CHAR},
      </if>
      <if test="record.creatTime != null" >
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sinotime != null" >
        sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractCode != null" >
        contract_code = #{record.contractCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update insti_detail
    set insti_code = #{record.instiCode,jdbcType=VARCHAR},
      insti_type = #{record.instiType,jdbcType=CHAR},
      insti_shortname = #{record.instiShortname,jdbcType=VARCHAR},
      insti_name = #{record.instiName,jdbcType=VARCHAR},
      credit_person = #{record.creditPerson,jdbcType=VARCHAR},
      law_person = #{record.lawPerson,jdbcType=VARCHAR},
      credit_code = #{record.creditCode,jdbcType=VARCHAR},
      registered_address = #{record.registeredAddress,jdbcType=VARCHAR},
      general_manager = #{record.generalManager,jdbcType=VARCHAR},
      zip_code = #{record.zipCode,jdbcType=INTEGER},
      registered_capital = #{record.registeredCapital,jdbcType=VARCHAR},
      web_url = #{record.webUrl,jdbcType=VARCHAR},
      insti_address = #{record.instiAddress,jdbcType=VARCHAR},
      fax_number = #{record.faxNumber,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      access_ip = #{record.accessIp,jdbcType=VARCHAR},
      freeze_status = #{record.freezeStatus,jdbcType=CHAR},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      contract_code = #{record.contractCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoway.cisp.entitys.InstiDetail" >
    update insti_detail
    <set >
      <if test="instiType != null" >
        insti_type = #{instiType,jdbcType=CHAR},
      </if>
      <if test="instiShortname != null" >
        insti_shortname = #{instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="instiName != null" >
        insti_name = #{instiName,jdbcType=VARCHAR},
      </if>
      <if test="creditPerson != null" >
        credit_person = #{creditPerson,jdbcType=VARCHAR},
      </if>
      <if test="lawPerson != null" >
        law_person = #{lawPerson,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null" >
        registered_address = #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="generalManager != null" >
        general_manager = #{generalManager,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=INTEGER},
      </if>
      <if test="registeredCapital != null" >
        registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="webUrl != null" >
        web_url = #{webUrl,jdbcType=VARCHAR},
      </if>
      <if test="instiAddress != null" >
        insti_address = #{instiAddress,jdbcType=VARCHAR},
      </if>
      <if test="faxNumber != null" >
        fax_number = #{faxNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="accessIp != null" >
        access_ip = #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="freezeStatus != null" >
        freeze_status = #{freezeStatus,jdbcType=CHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sinotime != null" >
        sinotime = #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
    </set>
    where insti_code = #{instiCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoway.cisp.entitys.InstiDetail" >
    update insti_detail
    set insti_type = #{instiType,jdbcType=CHAR},
      insti_shortname = #{instiShortname,jdbcType=VARCHAR},
      insti_name = #{instiName,jdbcType=VARCHAR},
      credit_person = #{creditPerson,jdbcType=VARCHAR},
      law_person = #{lawPerson,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      registered_address = #{registeredAddress,jdbcType=VARCHAR},
      general_manager = #{generalManager,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=INTEGER},
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      web_url = #{webUrl,jdbcType=VARCHAR},
      insti_address = #{instiAddress,jdbcType=VARCHAR},
      fax_number = #{faxNumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      access_ip = #{accessIp,jdbcType=VARCHAR},
      freeze_status = #{freezeStatus,jdbcType=CHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      sinotime = #{sinotime,jdbcType=TIMESTAMP},
      contract_code = #{contractCode,jdbcType=VARCHAR}
    where insti_code = #{instiCode,jdbcType=VARCHAR}
  </update>
</mapper>