<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinoway.cisp.dao.LoanApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.sinoway.cisp.entitys.LoanApplication" >
    <id column="sinoid" property="sinoid" jdbcType="VARCHAR" />
    <result column="sino_cardid" property="sinoCardid" jdbcType="VARCHAR" />
    <result column="cell_phone_num" property="cellPhoneNum" jdbcType="VARCHAR" />
    <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="request_money" property="requestMoney" jdbcType="DECIMAL" />
    <result column="request_location" property="requestLocation" jdbcType="VARCHAR" />
    <result column="request_type" property="requestType" jdbcType="CHAR" />
    <result column="sinotime" property="sinotime" jdbcType="TIMESTAMP" />
    <result column="edu" property="edu" jdbcType="CHAR" />
    <result column="request_result" property="requestResult" jdbcType="CHAR" />
    <result column="refuse_reason" property="refuseReason" jdbcType="CHAR" />
    <result column="refuse_time" property="refuseTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sinoid, sino_cardid, cell_phone_num, request_time, request_money, request_location, 
    request_type, sinotime, edu, request_result, refuse_reason, refuse_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinoway.cisp.entitys.LoanApplicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from loan_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from loan_application
    where sinoid = #{sinoid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from loan_application
    where sinoid = #{sinoid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinoway.cisp.entitys.LoanApplicationExample" >
    delete from loan_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinoway.cisp.entitys.LoanApplication" >
    insert into loan_application (sinoid, sino_cardid, cell_phone_num, 
      request_time, request_money, request_location, 
      request_type, sinotime, edu, 
      request_result, refuse_reason, refuse_time
      )
    values (#{sinoid,jdbcType=VARCHAR}, #{sinoCardid,jdbcType=VARCHAR}, #{cellPhoneNum,jdbcType=VARCHAR}, 
      #{requestTime,jdbcType=TIMESTAMP}, #{requestMoney,jdbcType=DECIMAL}, #{requestLocation,jdbcType=VARCHAR}, 
      #{requestType,jdbcType=CHAR}, #{sinotime,jdbcType=TIMESTAMP}, #{edu,jdbcType=CHAR}, 
      #{requestResult,jdbcType=CHAR}, #{refuseReason,jdbcType=CHAR}, #{refuseTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinoway.cisp.entitys.LoanApplication" >
    insert into loan_application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sinoid != null" >
        sinoid,
      </if>
      <if test="sinoCardid != null" >
        sino_cardid,
      </if>
      <if test="cellPhoneNum != null" >
        cell_phone_num,
      </if>
      <if test="requestTime != null" >
        request_time,
      </if>
      <if test="requestMoney != null" >
        request_money,
      </if>
      <if test="requestLocation != null" >
        request_location,
      </if>
      <if test="requestType != null" >
        request_type,
      </if>
      <if test="sinotime != null" >
        sinotime,
      </if>
      <if test="edu != null" >
        edu,
      </if>
      <if test="requestResult != null" >
        request_result,
      </if>
      <if test="refuseReason != null" >
        refuse_reason,
      </if>
      <if test="refuseTime != null" >
        refuse_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sinoid != null" >
        #{sinoid,jdbcType=VARCHAR},
      </if>
      <if test="sinoCardid != null" >
        #{sinoCardid,jdbcType=VARCHAR},
      </if>
      <if test="cellPhoneNum != null" >
        #{cellPhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestMoney != null" >
        #{requestMoney,jdbcType=DECIMAL},
      </if>
      <if test="requestLocation != null" >
        #{requestLocation,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null" >
        #{requestType,jdbcType=CHAR},
      </if>
      <if test="sinotime != null" >
        #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="edu != null" >
        #{edu,jdbcType=CHAR},
      </if>
      <if test="requestResult != null" >
        #{requestResult,jdbcType=CHAR},
      </if>
      <if test="refuseReason != null" >
        #{refuseReason,jdbcType=CHAR},
      </if>
      <if test="refuseTime != null" >
        #{refuseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinoway.cisp.entitys.LoanApplicationExample" resultType="java.lang.Integer" >
    select count(*) from loan_application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update loan_application
    <set >
      <if test="record.sinoid != null" >
        sinoid = #{record.sinoid,jdbcType=VARCHAR},
      </if>
      <if test="record.sinoCardid != null" >
        sino_cardid = #{record.sinoCardid,jdbcType=VARCHAR},
      </if>
      <if test="record.cellPhoneNum != null" >
        cell_phone_num = #{record.cellPhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.requestTime != null" >
        request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.requestMoney != null" >
        request_money = #{record.requestMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.requestLocation != null" >
        request_location = #{record.requestLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.requestType != null" >
        request_type = #{record.requestType,jdbcType=CHAR},
      </if>
      <if test="record.sinotime != null" >
        sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edu != null" >
        edu = #{record.edu,jdbcType=CHAR},
      </if>
      <if test="record.requestResult != null" >
        request_result = #{record.requestResult,jdbcType=CHAR},
      </if>
      <if test="record.refuseReason != null" >
        refuse_reason = #{record.refuseReason,jdbcType=CHAR},
      </if>
      <if test="record.refuseTime != null" >
        refuse_time = #{record.refuseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update loan_application
    set sinoid = #{record.sinoid,jdbcType=VARCHAR},
      sino_cardid = #{record.sinoCardid,jdbcType=VARCHAR},
      cell_phone_num = #{record.cellPhoneNum,jdbcType=VARCHAR},
      request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      request_money = #{record.requestMoney,jdbcType=DECIMAL},
      request_location = #{record.requestLocation,jdbcType=VARCHAR},
      request_type = #{record.requestType,jdbcType=CHAR},
      sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      edu = #{record.edu,jdbcType=CHAR},
      request_result = #{record.requestResult,jdbcType=CHAR},
      refuse_reason = #{record.refuseReason,jdbcType=CHAR},
      refuse_time = #{record.refuseTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoway.cisp.entitys.LoanApplication" >
    update loan_application
    <set >
      <if test="sinoCardid != null" >
        sino_cardid = #{sinoCardid,jdbcType=VARCHAR},
      </if>
      <if test="cellPhoneNum != null" >
        cell_phone_num = #{cellPhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestMoney != null" >
        request_money = #{requestMoney,jdbcType=DECIMAL},
      </if>
      <if test="requestLocation != null" >
        request_location = #{requestLocation,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null" >
        request_type = #{requestType,jdbcType=CHAR},
      </if>
      <if test="sinotime != null" >
        sinotime = #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="edu != null" >
        edu = #{edu,jdbcType=CHAR},
      </if>
      <if test="requestResult != null" >
        request_result = #{requestResult,jdbcType=CHAR},
      </if>
      <if test="refuseReason != null" >
        refuse_reason = #{refuseReason,jdbcType=CHAR},
      </if>
      <if test="refuseTime != null" >
        refuse_time = #{refuseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sinoid = #{sinoid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoway.cisp.entitys.LoanApplication" >
    update loan_application
    set sino_cardid = #{sinoCardid,jdbcType=VARCHAR},
      cell_phone_num = #{cellPhoneNum,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      request_money = #{requestMoney,jdbcType=DECIMAL},
      request_location = #{requestLocation,jdbcType=VARCHAR},
      request_type = #{requestType,jdbcType=CHAR},
      sinotime = #{sinotime,jdbcType=TIMESTAMP},
      edu = #{edu,jdbcType=CHAR},
      request_result = #{requestResult,jdbcType=CHAR},
      refuse_reason = #{refuseReason,jdbcType=CHAR},
      refuse_time = #{refuseTime,jdbcType=TIMESTAMP}
    where sinoid = #{sinoid,jdbcType=VARCHAR}
  </update>
</mapper>