<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinoway.cisp.dao.ReportDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sinoway.cisp.entitys.ReportDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="sinotime" property="sinotime" jdbcType="TIMESTAMP" />
    <result column="file_type" property="fileType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="common" property="common" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_id, filepath, sinotime, file_type, status, common
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sinoway.cisp.entitys.ReportDetail" >
    insert into report_detail (id, report_id, filepath, 
      sinotime, file_type, status, 
      common)
    values (#{id,jdbcType=INTEGER}, #{reportId,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{sinotime,jdbcType=TIMESTAMP}, #{fileType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{common,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoway.cisp.entitys.ReportDetail" >
    insert into report_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="sinotime != null" >
        sinotime,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="common != null" >
        common,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="common != null" >
        #{common,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoway.cisp.entitys.ReportDetail" >
    update report_detail
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        sinotime = #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="common != null" >
        common = #{common,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoway.cisp.entitys.ReportDetail" >
    update report_detail
    set report_id = #{reportId,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      sinotime = #{sinotime,jdbcType=TIMESTAMP},
      file_type = #{fileType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      common = #{common,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>