<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinoway.cisp.dao.SinoBodyMapper" >
  <resultMap id="BaseResultMap" type="com.sinoway.cisp.entitys.SinoBody" >
    <id column="sino_cardid" property="sinoCardid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cardid" property="cardid" jdbcType="VARCHAR" />
    <result column="sinotime" property="sinotime" jdbcType="TIMESTAMP" />
    <result column="common" property="common" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sino_cardid, name, cardid, sinotime, common
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinoway.cisp.entitys.SinoBodyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sino_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sino_body
    where sino_cardid = #{sinoCardid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sino_body
    where sino_cardid = #{sinoCardid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinoway.cisp.entitys.SinoBodyExample" >
    delete from sino_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinoway.cisp.entitys.SinoBody" >
    insert IGNORE into sino_body (sino_cardid, name, cardid, 
      sinotime, common)
    values (#{sinoCardid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{cardid,jdbcType=VARCHAR}, 
      #{sinotime,jdbcType=TIMESTAMP}, #{common,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoway.cisp.entitys.SinoBody" >
    insert into sino_body
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sinoCardid != null" >
        sino_cardid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cardid != null" >
        cardid,
      </if>
      <if test="sinotime != null" >
        sinotime,
      </if>
      <if test="common != null" >
        common,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sinoCardid != null" >
        #{sinoCardid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="common != null" >
        #{common,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinoway.cisp.entitys.SinoBodyExample" resultType="java.lang.Integer" >
    select count(*) from sino_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sino_body
    <set >
      <if test="record.sinoCardid != null" >
        sino_cardid = #{record.sinoCardid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cardid != null" >
        cardid = #{record.cardid,jdbcType=VARCHAR},
      </if>
      <if test="record.sinotime != null" >
        sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.common != null" >
        common = #{record.common,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sino_body
    set sino_cardid = #{record.sinoCardid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      cardid = #{record.cardid,jdbcType=VARCHAR},
      sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      common = #{record.common,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoway.cisp.entitys.SinoBody" >
    update sino_body
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null" >
        cardid = #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        sinotime = #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="common != null" >
        common = #{common,jdbcType=VARCHAR},
      </if>
    </set>
    where sino_cardid = #{sinoCardid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoway.cisp.entitys.SinoBody" >
    update sino_body
    set name = #{name,jdbcType=VARCHAR},
      cardid = #{cardid,jdbcType=VARCHAR},
      sinotime = #{sinotime,jdbcType=TIMESTAMP},
      common = #{common,jdbcType=VARCHAR}
    where sino_cardid = #{sinoCardid,jdbcType=VARCHAR}
  </update>
</mapper>