<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinoway.cisp.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sinoway.cisp.entitys.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="insti_code" property="instiCode" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_psw" property="userPsw" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="qq_num" property="qqNum" jdbcType="VARCHAR" />
    <result column="wechat_num" property="wechatNum" jdbcType="VARCHAR" />
    <result column="insti_shortname" property="instiShortname" jdbcType="VARCHAR" />
    <result column="sinotime" property="sinotime" jdbcType="TIMESTAMP" />
    <result column="fun_code_format" property="funCodeFormat" jdbcType="VARCHAR" />
    <result column="last_time_login" property="lastTimeLogin" jdbcType="TIMESTAMP" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="freeze_status" property="freezeStatus" jdbcType="VARCHAR" />
    <result column="user_key" property="userKey" jdbcType="VARCHAR" />
    <result column="user_private" property="userPrivate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, insti_code, user_account, user_psw, user_name, user_phone, user_mail, qq_num, 
    wechat_num, insti_shortname, sinotime, fun_code_format, last_time_login, user_type, 
    freeze_status, user_key, user_private
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sinoway.cisp.entitys.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sinoway.cisp.entitys.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sinoway.cisp.entitys.User" >
    insert into user (user_id, insti_code, user_account, 
      user_psw, user_name, user_phone, 
      user_mail, qq_num, wechat_num, 
      insti_shortname, sinotime, fun_code_format, 
      last_time_login, user_type, freeze_status, 
      user_key, user_private)
    values (#{userId,jdbcType=INTEGER}, #{instiCode,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{userPsw,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userMail,jdbcType=VARCHAR}, #{qqNum,jdbcType=VARCHAR}, #{wechatNum,jdbcType=VARCHAR}, 
      #{instiShortname,jdbcType=VARCHAR}, #{sinotime,jdbcType=TIMESTAMP}, #{funCodeFormat,jdbcType=VARCHAR}, 
      #{lastTimeLogin,jdbcType=TIMESTAMP}, #{userType,jdbcType=CHAR}, #{freezeStatus,jdbcType=VARCHAR}, 
      #{userKey,jdbcType=VARCHAR}, #{userPrivate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinoway.cisp.entitys.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="instiCode != null" >
        insti_code,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="userPsw != null" >
        user_psw,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userMail != null" >
        user_mail,
      </if>
      <if test="qqNum != null" >
        qq_num,
      </if>
      <if test="wechatNum != null" >
        wechat_num,
      </if>
      <if test="instiShortname != null" >
        insti_shortname,
      </if>
      <if test="sinotime != null" >
        sinotime,
      </if>
      <if test="funCodeFormat != null" >
        fun_code_format,
      </if>
      <if test="lastTimeLogin != null" >
        last_time_login,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="freezeStatus != null" >
        freeze_status,
      </if>
      <if test="userKey != null" >
        user_key,
      </if>
      <if test="userPrivate != null" >
        user_private,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="instiCode != null" >
        #{instiCode,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPsw != null" >
        #{userPsw,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null" >
        #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="instiShortname != null" >
        #{instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="funCodeFormat != null" >
        #{funCodeFormat,jdbcType=VARCHAR},
      </if>
      <if test="lastTimeLogin != null" >
        #{lastTimeLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="freezeStatus != null" >
        #{freezeStatus,jdbcType=VARCHAR},
      </if>
      <if test="userKey != null" >
        #{userKey,jdbcType=VARCHAR},
      </if>
      <if test="userPrivate != null" >
        #{userPrivate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sinoway.cisp.entitys.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.instiCode != null" >
        insti_code = #{record.instiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.userPsw != null" >
        user_psw = #{record.userPsw,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userMail != null" >
        user_mail = #{record.userMail,jdbcType=VARCHAR},
      </if>
      <if test="record.qqNum != null" >
        qq_num = #{record.qqNum,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatNum != null" >
        wechat_num = #{record.wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="record.instiShortname != null" >
        insti_shortname = #{record.instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="record.sinotime != null" >
        sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.funCodeFormat != null" >
        fun_code_format = #{record.funCodeFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTimeLogin != null" >
        last_time_login = #{record.lastTimeLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userType != null" >
        user_type = #{record.userType,jdbcType=CHAR},
      </if>
      <if test="record.freezeStatus != null" >
        freeze_status = #{record.freezeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userKey != null" >
        user_key = #{record.userKey,jdbcType=VARCHAR},
      </if>
      <if test="record.userPrivate != null" >
        user_private = #{record.userPrivate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      insti_code = #{record.instiCode,jdbcType=VARCHAR},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      user_psw = #{record.userPsw,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_mail = #{record.userMail,jdbcType=VARCHAR},
      qq_num = #{record.qqNum,jdbcType=VARCHAR},
      wechat_num = #{record.wechatNum,jdbcType=VARCHAR},
      insti_shortname = #{record.instiShortname,jdbcType=VARCHAR},
      sinotime = #{record.sinotime,jdbcType=TIMESTAMP},
      fun_code_format = #{record.funCodeFormat,jdbcType=VARCHAR},
      last_time_login = #{record.lastTimeLogin,jdbcType=TIMESTAMP},
      user_type = #{record.userType,jdbcType=CHAR},
      freeze_status = #{record.freezeStatus,jdbcType=VARCHAR},
      user_key = #{record.userKey,jdbcType=VARCHAR},
      user_private = #{record.userPrivate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinoway.cisp.entitys.User" >
    update user
    <set >
      <if test="instiCode != null" >
        insti_code = #{instiCode,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPsw != null" >
        user_psw = #{userPsw,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        qq_num = #{qqNum,jdbcType=VARCHAR},
      </if>
      <if test="wechatNum != null" >
        wechat_num = #{wechatNum,jdbcType=VARCHAR},
      </if>
      <if test="instiShortname != null" >
        insti_shortname = #{instiShortname,jdbcType=VARCHAR},
      </if>
      <if test="sinotime != null" >
        sinotime = #{sinotime,jdbcType=TIMESTAMP},
      </if>
      <if test="funCodeFormat != null" >
        fun_code_format = #{funCodeFormat,jdbcType=VARCHAR},
      </if>
      <if test="lastTimeLogin != null" >
        last_time_login = #{lastTimeLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="freezeStatus != null" >
        freeze_status = #{freezeStatus,jdbcType=VARCHAR},
      </if>
      <if test="userKey != null" >
        user_key = #{userKey,jdbcType=VARCHAR},
      </if>
      <if test="userPrivate != null" >
        user_private = #{userPrivate,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinoway.cisp.entitys.User" >
    update user
    set insti_code = #{instiCode,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      user_psw = #{userPsw,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      qq_num = #{qqNum,jdbcType=VARCHAR},
      wechat_num = #{wechatNum,jdbcType=VARCHAR},
      insti_shortname = #{instiShortname,jdbcType=VARCHAR},
      sinotime = #{sinotime,jdbcType=TIMESTAMP},
      fun_code_format = #{funCodeFormat,jdbcType=VARCHAR},
      last_time_login = #{lastTimeLogin,jdbcType=TIMESTAMP},
      user_type = #{userType,jdbcType=CHAR},
      freeze_status = #{freezeStatus,jdbcType=VARCHAR},
      user_key = #{userKey,jdbcType=VARCHAR},
      user_private = #{userPrivate,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>